#produtos,
#carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

#carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.produto-single{
padding: 0 2%;
border-color: aqua;
border-radius: 3em;
}
